<div class="pintuan">
    <div class="pt-title clearfix">
        <div class="pt-title-left f-left">
            <span class="iconfont">&#xe62e;</span>
            <span>限量拼团, 每日避逛</span>
        </div>
        <div class="pt-title-more f-right">
            <a href="#">更多<span class="iconfont">&#xe64e;</span></a>
        </div>
    </div>
    <div class="pt-content">
        <ul class="pt-goods-list clearfix">
            <% for (var i = 0; i < pintuan.goods_list.length; i ++) { %>
            <li>
                <img src="<%=pintuan.goods_list[i].pic%>">
                <p class="pt-price">
                    <span class="iconfont">&#xeb1e;</span>
                    <%=pintuan.goods_list[i].price%>
                </p>
                <p class="pt-sale_num">
                    已拼
                    <%=pintuan.goods_list[i].sale_num%>
                </p>
            </li>
            <% } %>
        </ul>
    </div>
</div>
